/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div.top-nav {
    background-color: #f1f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;  
    height: 50px;
    width: 100%;
 }

 div.menu {
     float: left;
     padding: 5px 5px;
 }

 div.search {
     float: right;
     padding: 5px 5px;
     
 }

span.down-icon, span.user-icon, span.company-details, .logo {
    vertical-align: middle;
}

span.user-info {
    float: right;
    padding: 5px 5px;
}

div.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    border-radius: 15px;
    background-color: orange;
    color: white;
    border:0.16em solid rgba(255,255,255,0);
}

.search-field {
    border-radius: 5px;
    border:0.16em solid rgba(255,255,255,0);
}