// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.search-results {
    margin: 0% 25%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2c2b2bef;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2c2b2bef;  
}